# Environments
*/prj_env_2/

# Python
*.DS_Store
*.json
*.png
*.jpg
*.im
*.seg
*.npy
*.h5
*.hdf5
*.csv
*.tfrecords
*.cfg
*.sh
*.zsh
*.mat
*.m
__pycache__

# IDE
.vscode/
.ipynb_checkpoints/

# Logging
**/logs/
**/logs_old/
**/logs_old_2/

# Checkpoints
checkpoints/


